# Build output
RPMS/
SRPMS/
installroot/
build/
.mb2/
*.o
moc_*.cpp
moc_predefs.h
qrc_*.cpp
*.qm
Makefile
.qmake.stash
*.pro.user*
documentation.list
/harbour-svero

# Editor / OS
*.autosave
*~
.DS_Store
